.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.simple-form input {
  display: block;
  padding: 10px 5px;
  margin: 10px 0px;
}

.simple-form button {
  width: 100%;
  padding: 10px 0px;
  background-color: tomato;
  color: aliceblue;
  border: none;
}